version: "3"
services:
    app:
        image: phlox:latest
        container_name: phlox
        ports:
            - "5000:5000"
        environment:
            - DB_ENCRYPTION_KEY= ${DB_ENCRYPTION_KEY}
            - REACT_APP_BACKEND_URL= https://http://localhost:5000/ # Replace with your desired URL
            - TZ=America/Sao_Paulo # Replace with your timezone
        volumes:
            - ./data:/usr/src/app/data # Only for persistent data
            - ./logs:/usr/src/app/logs # Optional: Persist logs
        depends_on:
            - ollama
        networks:
            - phlox-do-taitai-network            
    ollama:
        image: docker.io/ollama/ollama:latest
        container_name: ollama
        restart: always
        pull_policy: always
        ports:
          - 7869:11434
        volumes:
          - ollama-data:/root/.ollama
        environment:
          - OLLAMA_NUM_GPU=1
          - OLLAMA_GPU_MEMORY=4096
        networks:
          - phlox-do-taitai-network 
        deploy:
          resources:
            limits:
              memory: 8G
            reservations:
              devices:
                - driver: nvidia
                  count: 1
                  capabilities: [gpu]
networks:
  phlox-do-taitai-network:
    driver: bridge
